addict==2.4.0
aiofiles==23.2.1
aiohttp==3.9.5
aiosignal==1.3.1
aliyun-python-sdk-core==2.15.1
aliyun-python-sdk-kms==2.16.3
altair==5.3.0
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==4.3.0
appdirs==1.4.4
arrow==1.3.0
astor==0.8.1
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
audioread==3.0.1
backcall==0.2.0
backoff==2.2.1
beartype==0.18.5
beautifulsoup4==4.12.2
bleach==6.1.0
blinker==1.9.0
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.2
contourpy==1.1.1
crcmod==1.7
cryptography==42.0.7
cycler==0.12.1
datasets==2.18.0
dateutils==0.6.12
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.8
dnspython==2.6.1
docopt==0.6.2
duckdb==0.10.1
editdistance==0.8.1
einops==0.8.0
email_validator==2.1.1
et-xmlfile==1.1.0
exceptiongroup==1.2.1
executing==2.0.1
fastapi==0.111.0
fastapi-cli==0.0.3
fastjsonschema==2.19.1
ffmpeg==1.4
ffmpy==0.3.2
filelock==3.14.0
fonttools==4.51.0
frozendict==2.3.8
frozenlist==1.4.1
fsspec==2024.2.0
funasr==1.0.26
gast==0.5.4
gitdb==4.0.12
GitPython==3.1.44
gradio==4.31.0
gradio_client==0.16.2
greenlet==3.0.3
gw_dsl_parser==0.1.48a4
h11==0.14.0
html5lib==1.1
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.0
hydra-core==1.3.2
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.4.9
importlib_metadata==7.1.0
importlib_resources==6.4.0
intel-openmp==2021.4.0
ipython==8.12.3
ipywidgets==8.1.2
jaconv==0.3.4
jamo==0.4.1
jedi==0.19.1
jieba==0.42.1
Jinja2==3.1.4
jmespath==0.10.0
joblib==1.4.2
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.10
kaldiio==2.18.0
kanaries_track==0.0.5
kiwisolver==1.4.5
lazy_loader==0.4
librosa==0.10.2
llvmlite==0.41.1
lxml==4.9.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.5
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
mkl==2021.4.0
modelscope==1.14.0
monotonic==1.6
more-itertools==10.2.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.16
multitasking==0.0.11
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
networkx==3.1
numba==0.58.1
numpy==1.24.4
omegaconf==2.3.0
openai-whisper==20231117
openpyxl==3.1.2
orjson==3.10.3
oss2==2.18.5
packaging==24.0
pandas==2.0.3
pandocfilters==1.5.1
parso==0.8.4
pickleshare==0.7.5
Pillow==9.5.0
pipreqs==0.5.0
pkgutil_resolve_name==1.3.10
platformdirs==4.2.1
plotly==5.22.0
pooch==1.8.1
prettytable==3.10.0
proglog==0.1.10
prompt-toolkit==3.0.43
protobuf==5.26.1
psutil==5.9.8
pure-eval==0.2.2
pyarrow==16.0.0
pyarrow-hotfix==0.6
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.7.1
pydantic_core==2.18.2
pydeck==0.9.1
pydub==0.25.1
pyecharts==2.0.5
PyExecJS==1.5.1
Pygments==2.18.0
pygwalker==0.4.8.4
pynndescent==0.5.12
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-multipart==0.0.9
pytorch-wpe==0.0.1
pytz==2024.1
pywin32==306
PyYAML==6.0.1
pyzmq==26.0.3
referencing==0.35.1
regex==2024.5.10
requests==2.31.0
rich==13.7.1
rotary-embedding-torch==0.6.0
rpds-py==0.18.1
ruff==0.4.4
schedule==1.2.2
scikit-learn==1.3.2
scipy==1.10.1
segment-analytics-python==2.2.3
semantic-version==2.10.0
sentencepiece==0.2.0
shellingham==1.5.4
simplejson==3.19.2
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
SQLAlchemy==2.0.30
sqlglot==23.15.8
stack-data==0.6.3
starlette==0.37.2
streamlit==1.45.1
sympy==1.12
tbb==2021.12.0
tenacity==8.3.0
tensorboardX==2.6.2.2
threadpoolctl==3.5.0
tiktoken==0.6.0
tinycss2==1.3.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.1
torch==2.3.0
torch-complex==0.4.3
torchaudio==2.3.0
tornado==6.4
tqdm==4.66.4
traitlets==5.14.3
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing_extensions==4.11.0
tzdata==2024.1
ujson==5.9.0
umap-learn==0.5.6
urllib3==2.2.1
uvicorn==0.29.0
wasmtime==12.0.0
watchdog==6.0.0
watchfiles==0.21.0
wcwidth==0.2.13
webencodings==0.5.1
websockets==11.0.3
widgetsnbextension==4.0.10
xxhash==3.4.1
yapf==0.40.2
yarg==0.1.9
yarl==1.9.4
yfinance==0.2.18
zipp==3.18.1
